<div class="form-group">
    <input 
        id="title"
        type="text" 
        class="form-control" 
        placeholder="Title" 
        name="title"
        value="<%= add_form ? "" : title %>"
        <% if (add_form == true ) {%>
            required
        <% } %>
    >
</div>

<div class="form-group">
    <textarea 
        id="description"
        maxlength="100" 
        class="form-control" 
        placeholder="Description (max: 100 chars)" 
        name="description" 
        <% if (add_form == true ) {%>
            required
        <% } %> ><%= add_form ? "" : description %></textarea>
</div>

<div class="form-group">
    <textarea 
        id="contentMarkdown"
        maxlength="1000" 
        class="form-control" 
        placeholder="Markdown (max: 1000 chars...)" 
        name="contentMarkdown" 
        <% if (add_form == true ) {%>
            required
        <% } %> ><%= add_form ? "" : content %></textarea>
</div>

<div class="row">
    
    <div class="col text-center">
        <a href="/articles">
            <input type="none" class="btn btn-secondary col-12 col-md-8" value="Cancel">
        </a>
    </div>
   
    
    <div class="col text-center">
        <input type="submit" class="btn btn-success col-12 col-md-8" value="Add" />
    </div>
</div>