<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("../components/head") %>
    
    <title>Markdown Blog | Add new article</title>
</head>
<body>
    <div class="container">
        <h1>Add article</h1>

        <form action="" class="add-form" method="POST">
            <div class="form-group">
                <input 
                    id="author"
                    type="text" 
                    class="form-control" 
                    placeholder="Author"
                    name="author"
                    required 
                >
            </div>

            <%- include("../components/form_fields", add_form=true) %>
        </form>
    </div>
    
</body>
</html>
