<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("../components/head") %>
    
    <title>Markdown Blog | Edit article</title>
</head>
<body>
    <div class="container">
        <h1>Edit article</h1>
        <h2 class="text-muted"><%= article.title %></h2>

        <form action="/articles/edit/<%= article._id %>?_method=PUT" class="edit-form" method="POST">
            <%- include("../components/form_fields", 
                add_form=false, 
                title=article.title, 
                description=article.description,
                content=article.contentMarkdown
            ) %>
        </form>
    </div>
</body>
</html>
